body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: auto;
    padding: 0;
    width: 800px;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 8px 0;  /* Giảm padding header */
    text-align: center;
}

h1 {
    margin-top: 0;
}

.container {
    max-width: 1000px;  /* Chiều rộng tối đa */
    margin: 20px auto;
    padding: 15px;  /* Giảm padding */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section, .table-section {
    margin-bottom: 10px;  /* Giảm khoảng cách giữa các phần */
}

label {
    display: block;
    margin-bottom: 3px;  /* Giảm khoảng cách dưới label */
    font-weight: bold;
}

input[type="text"], input[type="password"], select {
    width: 50%;
    padding: 6px;  /* Giảm padding cho input */
    margin: 0px 5px 5px;  /* Giảm margin giữa các input */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;  /* Giảm padding cho button */
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;  /* Giảm padding của bảng */
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
}

.action-buttons a, .action-buttons button {
    margin-right: 8px;  /* Giảm khoảng cách giữa các button */
    text-decoration: none;
    color: #d9534f;
}

.action-buttons a:hover, .action-buttons button:hover {
    color: #c9302c;
}

.action-buttons {
    display: flex;
    gap: 8px;  /* Giảm khoảng cách giữa các button */
}


 /* Container chung cho nội dung */
 .content-wrapper {
    position: relative; /* Để các phần tử chồng lên nhau */
    
    
  }

  .content {
    position: absolute; /* Chồng lên nhau */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Ẩn mặc định */
    visibility: hidden; /* Không hiển thị */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Hiệu ứng mượt */
  }

  .content.active {
    opacity: 1; /* Hiện thị */
    visibility: visible; /* Hiển thị trong DOM */
  }

  a {
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    color: blue;
  }

  a:hover {
    color: darkblue;
  }

  #links {
    margin: 30px;
    display: flex;
    text-align: center;
    margin-left: 110px;
  }

  #links a
  {
    padding: 10px 15px 10px 15px ;
    border: 2px solid;
    font-size: 20px;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  #links a:hover
  {
    background-color: #4cae4c;
    color: #ffffff; /* Màu chữ khi hover (trắng) */
  }

  #links a.active
  {
    background-color: #4cae4c;
    color: #ffffff; /* Màu chữ khi hover (trắng) */
  }